# CLOUDINARY_CLOUD_NAME: Required for Cloudinary API calls.
CLOUDINARY_CLOUD_NAME="your_cloud_name"
# CLOUDINARY_API_KEY: Required for Cloudinary API calls.
CLOUDINARY_API_KEY="your_api_key"
# CLOUDINARY_API_SECRET: Required for Cloudinary API calls.
CLOUDINARY_API_SECRET="your_api_secret"
# CLOUDINARY_FOLDER: Optional folder path in Cloudinary.
CLOUDINARY_FOLDER="eduhub/questions"
# PORT: The port where the server runs.
PORT=3000
