# CLOUDINARY_CLOUD_NAME: Required for Cloudinary API calls.
CLOUDINARY_CLOUD_NAME=dno47zdrh
# CLOUDINARY_API_KEY: Required for Cloudinary API calls.
CLOUDINARY_API_KEY=323385711182591
# CLOUDINARY_API_SECRET: Required for Cloudinary API calls.
CLOUDINARY_API_SECRET=V7O-ktZe4h1QCQsECBJjfa8f-XE
# CLOUDINARY_FOLDER: Optional folder path in Cloudinary.
CLOUDINARY_FOLDER=Home
# PORT: The port where the server runs.
PORT=3000
